.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  cursor: pointer;
}

.preloader {
  margin: 10px 0;
  font-size: 16px;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 60vw;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  max-width: 30vw;
  word-wrap: break-word;
}

th {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  table {
    width: 90vw;
  }
}
