<div class="note-list">
  <div *ngIf="notes === undefined; else notesList">
    <div class="preloader">
      <i class="material-icons">hourglass_empty</i>
      <span>Loading...</span>
    </div>
  </div>
  <ng-template #notesList>
    <div *ngFor="let note of notes" class="note-item" (click)="noteClicked.emit(note)"
         [ngClass]="{'note-item-selected': note === selectedItem}">
      <i class="material-icons note-icon">note</i>
      <span class="note-text">{{ note.title }}</span>
    </div>
  </ng-template>
</div>
