.note-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.note-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s;
}

.note-item:hover {
  background: #ddd;
  transform: scale(1.01);
}

.note-item-selected {
  background: #c5c1c1;
}

.note-item-selected:hover {
  background: #bdb9b9;
}

.note-text {
  padding-right: 25px;
  display: inline-block;
  width: calc(90%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note-icon {
  margin-right: 10px;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.preloader i {
  font-size: 36px;
  color: #888;
  margin-right: 5px;
}

.preloader span {
  font-size: 14px;
  color: #888;
}
