textarea {
  resize: none;
  font-size: 16px;
}

.root-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.body-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 4fr;
  overflow: hidden;
}

.notes-column {
  border-right: 1px solid #ccc;
  background: #f3f3f3;
  overflow-y: auto;
  overflow-x: hidden;
}

.note-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.editor-column {
  padding: 20px 40px;
}

.editor {
  width: 100%;
  height: 80vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.editor-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.round-button {
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button-container {
  margin-right: 20px;
}

.delete-button {
  background: #c50404;
}

.delete-button:hover {
  background: #eb6262;
}

.new-note-button {
  margin: 15px 0;
  padding: 8px 12px;
  background-color: transparent;
  color: black;
  border: 1px solid #ccc;
  width: 60%;
}

.new-note-button:hover {
  background-color: #e1e1e1;
}

.new-note-button-container {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.note-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s;
}

.note-item:hover {
  background: #ddd; /*#c5c1c1*/
  transform: scale(1.01);
}

.note-text {
  padding-right: 25px;
  display: inline-block;
  width: calc(90%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note-icon {
  margin-right: 10px;
}

.burger-menu-icon {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .notes-column {
    display: none;
  }

  .body-container {
    grid-template-columns: 1fr;
  }

  .burger-menu-icon {
    display: block;
  }
}
