<div class="root-container">
  <header>
    <div class="burger-menu-icon">
      <i class="material-icons">menu</i>
    </div>
    <h1>WebNotes</h1>
    <div class="settings-icon" (click)="settingsDropdown.toggleDropdown()">
      <i class="material-icons">settings</i>
    </div>
    <settings-dropdown #settingsDropdown></settings-dropdown>
  </header>

  <div class="body-container">
    <div class="notes-column">
      <div class="new-note-button-container">
        <button class="new-note-button">New note</button>
      </div>
      <div class="note-list">
        <div class="note-item">
          <i class="material-icons note-icon">note</i>
          <i class="note-text">Note 1 weo;gjfnow;ejfgopwejgfopwejfgopwsssdsadsadsadsa</i>
        </div>
      </div>
    </div>
    <div class="editor-column">
      <textarea class="editor"></textarea>
      <div class="editor-buttons">
        <div class="tooltip round-button-container">
          <button class="round-button">
            <i class="material-icons">save</i>
          </button>
          <span class="tooltiptext">Save</span>
        </div>
        <div class="tooltip round-button-container">
          <button class="round-button">
            <i class="material-icons">close</i>
          </button>
          <span class="tooltiptext">Clear text</span>
        </div>
        <div class="tooltip">
          <button class="round-button delete-button">
            <i class="material-icons">delete</i>
          </button>
          <span class="tooltiptext">Delete</span>
        </div>
      </div>
    </div>
  </div>
</div>
